<template>
    <el-container class="main-layout">
        <el-header>
            <el-row class="fa-pull-right">
                <el-dropdown trigger="click">
                    <el-button class="logout"
                               icon="el-icon-arrow-down">
                        {{$page.prop.auth.user.username}}
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <a href="/logout">
                            <el-dropdown-item>Logout</el-dropdown-item>
                        </a>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-row>
        </el-header>
        <el-container>
            <el-main>
                <slot></slot>
            </el-main>
        </el-container>
    </el-container>

</template>
<script>

    export default {
        name: 'layout',
        data() {
            return {
                menuItems: [],
            }
        },
        methods: { },
        mounted() {
            if (this.$page.auth && this.$page.auth.user) {
                console.log(this.$page.auth);
            }
        }
    }
</script>
